node_modules/
app_storefront_base/
sfra_storefront*/
modules/
test/acceptance/report/
coverage/
npm-debug.log
cartridges.zip
cartridges/*/cartridge/static/default/css/
cartridges/*/cartridge/static/default/js/
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
RemoteSystemsTempFiles/
.editorconfig

# UX Studio Server Connections
ZZZ*
