name: 'CI & CD'

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'

permissions:
  id-token: write
  contents: read

env:
  NODE_VERSION: '18.20.8'

jobs:

  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Run Unit Tests
      run: npm test

